.home {
    background-color: black;
}

.home__bannerContent {
    padding: 100px;
    text-align: center;
    color: white;
}

.banner__main {
    font-size: 5rem;
    font-weight: bold;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 20px;
}

.banner__secondary {
    font-size: 3rem;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 10px;
}

.home__button {
    color: white;
    background-color: red;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 0.2vw;
}